@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #10b981;
  --color-secondary: #3b82f6;
  --color-accent: #f59e0b;
  --color-neutral: #1f2937;
  --color-base-100: #ffffff;
  --color-base-200: #f9fafb;
  --color-info: #0ea5e9;
  --color-success: #22c55e;
  --color-warning: #fbbd23;
  --color-error: #f87272;
}

* {
  font-family: "Poppins", sans-serif;
}

.btn-primary {
  @apply bg-[#10b981] rounded-[5px] px-8 py-2 font-semibold border-none transition-all duration-300 hover:scale-105;
}

.btn-noOutline {
  @apply bg-[#e6faf3] rounded-[5px] px-8 py-2 font-semibold border-[#10b981] border-1 transition-all duration-300 hover:scale-105;
}
